{% extends 'MriSoftware/base.html' %}
{% load static %}
{% block main %}
    <div class="container mt-5">
        <div class="row row-cols-2">
            <div class="col-8">
                <div class="row"><h1>About Us</h1></div>
                <div class="row"></div>
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</h5>
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</h5>
                <div class="row mt-xl-5 text-center"><p>Curabitur non blandit quam. Aenean rutrum ornare dictum. Quisque risus mi, rhoncus
                    vitae arcu vitae, mollis lobortis felis. Nulla dignissim convallis lorem eget volutpat. Donec.</p>
                </div>
            </div>

            <div class="col-4">
                <img src="{% static 'MriSoftware/images/img_1.png' %}" alt="" width="550" class="rounded-5">
            </div>
        </div>
    </div>
    </div>

{% endblock %}